th,
table {
  border: 1px solid black;
}
table {
  text-align: center;
}

.th1 {
  width: 150px;
  background-color: silver;
}
.th2 {
  width: 260px;
  background-color: silver;
}
.th3 {
  width: 320px;
  background-color: silver;
}

.td {
  height: 50px;
  font-size: 14px;
  text-align: justify;
}

.tg {
  border-top: hidden;
  border-left: hidden;
}
tr:nth-child(even) {
  background-color: silver;
}
